<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>텍스트 관련 태그</title>
</head>
<body>
    <h1>텍스트 관련 태그</h1>
    <h2>제목header 관련 태그</h2>
    <p>문서 내용에 따라 적절한 제목을 지정하는 것은 중요!</p>
    <p>제목은 h1(큰제목) ~ h6(작은제목) 태그를 사용</p>
    <p>검색엔진 최적화SEO에 중요한 요소로 작용하는 태그</p>
    <hr>
    <h1>큰제목(h1)</h1>
    <h2>큰제목(h2)</h2>
    <h3>중간제목(h3)</h3>
    <h4>중간제목(h4)</h4>
    <h5>작은제목(h5)</h5>
    <h6>작은제목(h6)</h6>

    <h2>문단</h2>
    <p>문단paragraph을 정의할때 사용</p>
    <p>문단이 정의되면 문단 위아래 약간의 여백margin이 추가됨</p>
    <p>문단 내 텍스트에 적용된 공백이나 줄바꿈은 모두 무시되고 한줄로 출력됨</p>
    <hr>
    <p>독일 막스 플랑크 천문학 연구소(MPIA) 엘리자베스 매튜스 박사가 이끄는 국제 연구팀은 25일 과학 저널 네이처(Nature)에서 제임스웹 우주망원경(JWST) 중적외선 관측장치(MIRI)로 지구에서 12광년 떨어진 삼중성계 주황색 왜성(orange dwarf) 엡실론 인디 A(Epsilon Indi A) 주위에서 슈퍼목성 '엡실론 인디 Ab'를 처음 이미지로 포착했다고 밝혔다.

        연구팀은 이 발견은 여러 측면에서 매우 이례적이라며 지상에서 촬영된 적이 없는 외계행성의 이미지를 JWST가 포착한 첫 사례이고, JWST가 지금까지 연구한 다른 가스형 외계행성들보다 온도가 훨씬 낮은 차가운 슈퍼목성을 처음 발견한 것이라고 말했다.

        이 슈퍼목성의 중심별 엡실론 인디 A는 남반구 인디언자리 쪽으로 12광년 떨어진 주황색 왜성으로, 표면온도가 4천200℃ 정도로 태양보다 1천℃ 이상 낮다. 2019년 주위에 목성보다 3.25배 크고 공전주기가 45.2년인 외계행성이 있을 것이라는 분석이 나왔으나 직접 관측되지는 않았다.

        연구팀은 이 연구에서 이전 연구 결과들을 토대로 JWST에 탑재된 고성능 중적외선 관측 장치인 MIRI를 이용해 엡실론 인디 A 주변을 직접 촬영해 분석했다.

        그 결과 이 가스형 외계행성은 온도가 절대온도 275K(약 2℃)로 차갑고 질량은 목성의 6배가 넘으며, 중심별에서 20~40천문단위(au : 지구-태양 거리. 1억5천만㎞) 떨어진 타원형 공전궤도를 가지고 있어 공전주기가 수십년 이상으로 추정됐다.

        연구팀은 이 슈퍼목성 특성은 이전 연구에서 예측된 기존 행성 특성과 매우 달라 새로운 행성으로 분류했다며 이 행성이 이 항성계에서는 유일한 거대 행성으로 보인다고 말했다.

        매튜스 박사는 "MIRI 이미지에 나타난 밝은 점은 우리가 예상했던 외계행성 위치와 일치하지 않았다. 이전 연구에서는 외계행성 존재는 정확히 밝혀냈지만, 슈퍼목성의 질량을 너무 작게, 궤도를 중심별에서 너무 가깝게 본 것 같다"며 "JWST 덕분에 이를 바로잡을 수 있었다"고 말했다.

        연구팀은 특히 이번 발견이 차가운 슈퍼목성을 직접 포착한 첫 사례라는 점에 주목했다.

        지금까지 태양과 비슷한 항성 주위에서 차가운 거대 가스행성이 발견된 것은 몇 개에 불과하고, 모두 천체가 관측자의 시선 방향에 가까워지거나 멀어지는 속도를 나타내는 시선 속도(radial-velocity)를 분석하는 간접적인 방법으로 발견됐다.

        외계행성을 찾아내는 일반적인 방법은 행성이 별 앞을 지날 때 빛을 가려 별빛이 약해지는 현상(transit)을 분석하는 것이지만, 차가운 거대 가스행성은 공전궤도가 중심별에서 멀고 공전주기가 길어 이런 현상이 포착될 가능성이 매우 낮다.

        매튜스 박사는 이 결과는 외계행성 탐사의 새로운 길을 연 것으로 JWST로 지구에서 가까운 다른 행성계도 관측해 미처 발견하지 못한 차가운 가스행성을 찾을 수 있기를 바란다며 "이런 조사는 가스 행성이 어떻게 형성되고 진화하는지에 대한 이해를 높이는 기초가 될 것"이라고 말했다.
    </p>
    <p>
        public static void main(String[] args) {
            System.out.println("Hello, World!!");
        }
    </p>

    <h2>줄바꿈 line-break</h2>
    <p>html에서는 텍스트에 작성된 줄바꿈은 무시된다고 했음</p>
    <p>만약, 의도적으로 줄바꿈을 적용하고 싶다면 br태그를 사용해야 함</p>
    <p>단, br태그는 종료태그가 없음</p>
    <p>
        public static void main(String[] args) { <br>
        System.out.println("Hello, World!!"); <br>
        }
    </p>

    <h2>수평선horizental</h2>
    <p>컨텐츠의 내용이 바뀔때 내용 환기를 위해 사용하는 구분선을 의미</p>

    <h2>엔티티 참조</h2>
    <p>html에는 특수한 용도를 위해 미리 예약된 문자들이 있음</p>
    <p>이러한 문자들을 일반 텍스트처럼 사용하면
        브라우저는 이것을 다르게 해석할 수도 있음</p>
    <p>따라서, html 예약어를 기존에 사용하던 의미대로
        사용하려면 별도로 만들어둔 문자셋entity을 이용해야 함</p>
    <p>문자셋은 &amp;과 &semi; 사이에 문자셋이름 또는
            문자셋번호를 이용해서 나타낼수 있음</p>
    <hr>
    <p>10 &gt; 9 &sol; 100 &lt; 5</p>
    <p>&copy; &reg;</p>
    <p>1 &nbsp;2 &nbsp;3</p>

    <h2>웹페이지 레이아웃용 텍스트 생성기</h2>
    <p>로렘lorem 입슘ipsum은 출판이나 그래픽 디자인 분야에서
        주로 사용하는 더미(의미없는) 텍스트</p>
    <p>디자인을 위해 자리 표시 역할을 담당하는 텍스트들을 의미</p>
    <p>lipsum.com &sol; hanipsum.com</p>

    <h2>텍스트 꾸밈 태그</h2>
    <p>문단내 텍스트들을 다르게 표시해서 강조,환기 효과를 얻기 위해 사용</p>
    <p>텍스트를 단순히 진하게 표시 - bold 태그 사용</p>
    <p>텍스트를 강조의 의미로 진하게 표시 - strong 태그 사용</p>
    <p>텍스트를 단순히 기울여서 표시 - italic 태그 사용</p>
    <p>텍스트를 강조의 의미로 기울여서 표시 - emphasize 태그 사용</p>
    <hr>
    <p>시간은 <b>금이라구</b>, 친구!!</p>
    <p>시간은 <strong>금이라구</strong>, 친구!!</p>
    <p>시간은 <i>금이라구</i>, 친구!!</p>
    <p>시간은 <em>금이라구</em>, 친구!!</p>
    <p>시간은 금이라구, 친구!!</p>
    <p>시간은 금이라구, 친구!!</p>

    <hr>
    <p>수식이나 기호에 위첨자를 나타내려면 superscript 태그 사용</p>
    <p>수식이나 기호에 아래첨자를 나타내려면 subscript 태그 사용</p>
    <p>논문에 사용하는 기호를 나타내려면 latex을 이용해야 함</p>
    <p>피타고라스 정리 : a<sup>2</sup> = b<sup>2</sup> + c<sup>2</sup></p>
    <p>특수 상대성 이론 : E = mc<sup>2</sup></p>
    <p>물 : H<sub>2</sub>O, 이산화탄소 : CO<sub>2</sub></p>

    <hr>
    <p>ins 태그</p>
    <p>del 태그</p>
    <p>mark 태그</p>
    <p><ins>a<sup>2</sup> = b<sup>2</sup> + c<sup>2</sup></ins>는
        수학 역사상 가장 중요한 식 중의 하나로 여겨지고 있다</p>
    <p>이 벽화가 그려진 시기는 <del>청동기</del> 신석기이다.</p>
    <p><mark>시간은 금이라구, 친구!!</mark></p>

    <hr>
    <p>kbd 태그</p>
    <p>pre 태그</p>
    <p>윈도우를 종료하려면 <kbd>Alt</kbd> + <kbd>F4</kbd>를 누르면 됩니다</p>
    <pre>
    public static void main(String[] args) {
    System.out.println("Hello, World!!");
    }
    </pre>

    <h2>인용</h2>
    <p>짧은 인용은 q태그를, 긴 인용은 blockquote 태그를 사용</p>
    <p>
        고블린이 한숨을 쉬며 말했다.
        <q>시간은 금이라구, 친구!!</q>
    </p>
    <p>
        고블린이 한숨을 쉬며 말했다.
        <blockquote>시간은 금이라구, 친구!!</blockquote>
    </p>

</body>
</html>